*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

$color:green;
$font-size:30px;
$line-height:40px;


.para{
   color:$color;
   font-size:$font-size;
   line-height:$line-height;
}
body{
background-color:red;
}