$color:#fdc800;

$bgColor-b:#002147;
$textColor:white;
$hover-color:yellow;


$width:85%;
$margin:0 auto;

$margin-top-bottom:10px 0px;
$max-width:100%;
$padding-1:5px 0px;
$padding-2:15px 20px;

$colWidth:99%;
$colLeft:1%;
$border:2px solid #fdc800;

$pull-left:left;
$pull-right:right;

$clear:both;

$none:none;
$text-align:center;
$text-align-juistify:justify;
$cursor:pointer;
$lineHeight:40px;


$font-weight:600;

$box-shadow:0px 0px 1px 1px #eae8e8;


$display-inline-block:inline-block;
$display-block:block;


$list-style-type:none;


$borderRadius:25%;
$transition:2s;